<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
  background: rgb(20,20,20);
background-image :url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Mtf552xv6qQUFlir390KbAHaEo%26pid%3DApi&f=1');
  overflow: hidden;
  font-family: 'Roboto';
  /* push down the the wrapper by half the page */
  margin: 50% 0 0 0;
  position: relative;
}
body::after {
  content: '';
  position: fixed;
background-image :url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Mtf552xv6qQUFlir390KbAHaEo%26pid%3DApi&f=1');

  top: 0;
  width: 100%;
  height: 30%;
  /* background to fade out the text as it goes up */
}
.wrapper {
  display: flex;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  /* perspective gives us a 3d space within the element to work with*/
  /* perspective also has the effect of pushing the content "down" */
  perspective: 450px;
}
.scroll-text {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear forwards;
}
h1,h2 {
  text-align: center;
}

@keyframes scroll {
	from { top: 0; transform: translateZ(0) rotateX(20deg); }
	to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg); }
}</style>
  <title>Anouncing boi</title>
</head>
<body>
  <div class="wrapper">
    <div class="scroll-text">
      <h1>STAR WARS</h1>
      <h2>Just Kidding</h2>
      <p>Welcome to this useless website which will just bring the stupid bot online</p>
       <p>Good bye</p>
</div>
  </div>
</body>
</html>